body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF9D6;

    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    color: #5C7057;
}

.heading {
    height: 10vh;
}

h1 {
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    background-color: floralwhite;
    background-color: #A14646;
    color: antiquewhite;
    margin: 0;
    height: 100%;

    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
}

.main-1 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.table-heading,
.score {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.table-heading span {
    flex: 1;
    text-align: center;
}

.table .table-body {
    display: flex;
    align-items: center;
    /* margin: 0px 25%; */
    height: 80%;
}

.table-body span {
    height: 100%;
}

.table-body .text {
    display: flex;
    align-items: center;
}

.table-body span img {
    height: 100%;
    object-fit: cover;
}

.main-2 {
    height: 15vh;
    display: flex;
    justify-content: center;
}

.choices {
    flex: 1;
    max-width: 600px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/* .choices a {
    text-align: center;
    height: 100%;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
} */

.game-btn {
    background-color: #FFF9D6;
    border: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.main-3 {
    height: 15vh;
    padding: 3vh;
    display: flex;
    justify-content: center;
}

.display {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

.score {
    display: flex;
    justify-content: space-around;
    gap: 30%;
}

.dialogue {
    text-align: center;
}

.play-again {
    border: none;
    background-color: tomato;
    color: antiquewhite;
    padding: 1vh;

    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
}

.footer {
    width: 100%;
    background-color: #5C7057;
    color: white;
    text-align: center;
}

.footer p {
    margin: 1vh;
    padding: 0px;
    font-family: monospace;
    font-size: 2vh;
}

.footer a {
    text-decoration: none;
    color: black;
}